@page "/"
@inject AuthenticationStateProvider authProvider
@inject ICategoryData categoryData
@inject IStatusData statusData
@inject ISuggestionData suggestionData
@inject IUserData userData
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage

<h1>Training Suggestions</h1>
<div>
    <button>Suggest</button>
</div>

<div>
    <div>@suggestions?.Count Suggestions</div>
    <div>
        <button @onclick="(() => OrderByNew())">@(isSortedByNew ? "New" : "Popular")</button>
    </div>
    <div>
        <input type="text" placeholder="Search" aria-label="Search box" @oninput="((txt) => OnSearchInput((string)txt.Value))" />
    </div>
</div>

<div>
    <div>
        @if (suggestions is not null)
        {
            <Virtualize Items="@suggestions" Context="s" OverscanCount="10">
                <div>
                    <div>
                        <div>@GetUpvoteTopText(s)</div>
                        <span class="oi oi-caret-top"></span>
                        <div>@GetUpvoteBottomText(s)</div>
                    </div>
                    <div>
                        <div @onclick="(() => OpenDetails(s))">
                            @s.SuggestionContent
                        </div>
                        <div>
                            <div @onclick="(() => OpenDetails(s))">
                                @s.Category?.Name
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            @s.Status?.Name
                        </div>
                    </div>
                </div>
                <hr>
            </Virtualize>
        }
    </div>
    <div>
        @if (categories is not null)
        {
            <div>
                <span>Category</span>
                <div @onclick="(() => OnCategoryClick())">All</div>
                @foreach (var cat in categories)
                {
                    <div @onclick="(() => OnCategoryClick(cat.Name))">@cat.Name</div>
                }
            </div>
        }
        <hr>
        @if (statuses is not null)
        {
            <div>
                <span>Status</span>
                <div @onclick="(() => OnStatusClick())">All</div>
                @foreach (var status in statuses)
                {
                    <div @onclick="(() => OnStatusClick(status.Name))">@status.Name</div>
                }
            </div>
        }
    </div>
</div>

@code {
    private User loggedInUser;
    private List<Suggestion> suggestions;
    private List<Category> categories;
    private List<Status> statuses;

    private string selectedCategory = "All";
    private string selectedStatus = "All";
    private string searchText = string.Empty;
    private bool isSortedByNew = true;

    protected async override Task OnInitializedAsync()
    {
        categories = await categoryData.GetCategories();
        statuses = await statusData.GetStatuses();
        await LoadAndVerifyUser();
    }

    private async Task LoadAndVerifyUser()
    {
        var authState = await authProvider.GetAuthenticationStateAsync();
        string objectId = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("objectidentifier"))?.Value;

        if (!String.IsNullOrWhiteSpace(objectId))
        {
            loggedInUser = await userData.GetUserFromAuthentication(objectId) ?? new();

            string firstName = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("givenname"))?.Value;
            string lastName = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("surname"))?.Value;
            string displayName = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("name"))?.Value;
            string email = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("email"))?.Value;

            bool isDirty = false;
            if (loggedInUser.ObjectIdentifier != objectId)
            {
                isDirty = true;
                loggedInUser.ObjectIdentifier = objectId;
            }

            if (loggedInUser.FirstName != firstName)
            {
                isDirty = true;
                loggedInUser.FirstName = firstName;
            }

            if (loggedInUser.LastName != lastName)
            {
                isDirty = true;
                loggedInUser.LastName = lastName;
            }

            if (loggedInUser.DisplayName != displayName)
            {
                isDirty = true;
                loggedInUser.DisplayName = displayName;
            }

            if (loggedInUser.EmailAddress != email)
            {
                isDirty = true;
                loggedInUser.EmailAddress = email;
            }

            if (isDirty)
            {
                if (String.IsNullOrWhiteSpace(loggedInUser.Id))
                {
                    await userData.CreateUser(loggedInUser);
                }
                else
                {
                    await userData.UpdateUser(loggedInUser);
                }
            }
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadFilterState();
            await FilterSuggestions();
            StateHasChanged();
        }
    }

    private async Task LoadFilterState()
    {
        var stringResults = await sessionStorage.GetAsync<string>(nameof(selectedCategory));
        selectedCategory = stringResults.Success ? stringResults.Value : "All";

        stringResults = await sessionStorage.GetAsync<string>(nameof(selectedStatus));
        selectedStatus = stringResults.Success ? stringResults.Value : "All";

        stringResults = await sessionStorage.GetAsync<string>(nameof(searchText));
        searchText = stringResults.Success ? stringResults.Value : string.Empty;

        var boolResults = await sessionStorage.GetAsync<bool>(nameof(isSortedByNew));
        isSortedByNew = stringResults.Success ? boolResults.Value : true;
    }

    private async Task SaveFilterState()
    {
        await sessionStorage.SetAsync(nameof(selectedCategory), selectedCategory);
        await sessionStorage.SetAsync(nameof(selectedStatus), selectedStatus);
        await sessionStorage.SetAsync(nameof(searchText), searchText);
        await sessionStorage.SetAsync(nameof(isSortedByNew), isSortedByNew);
    }

    private async Task FilterSuggestions()
    {
        var output = await suggestionData.GetApprovedSuggestions();

        if (selectedCategory != "All")
        {
            output = output.Where(s => s.Category?.Name == selectedCategory).ToList();
        }

        if (selectedStatus != "All")
        {
            output = output.Where(s => s.Status?.Name == selectedStatus).ToList();
        }

        if (!String.IsNullOrWhiteSpace(searchText))
        {
            output = output.Where(
                 s => s.SuggestionContent.Contains(searchText, StringComparison.InvariantCultureIgnoreCase) ||
                 s.Description.Contains(searchText, StringComparison.InvariantCultureIgnoreCase))
                 .ToList();
        }

        if (isSortedByNew)
        {
            output = output.OrderByDescending(s => s.DateCreated).ToList();
        }
        else
        {
            output = output.OrderByDescending(s => s.UserVotes.Count)
                           .ThenByDescending(s => s.DateCreated)
                           .ToList();
        }

        suggestions = output;

        await SaveFilterState();
    }

    private async Task OrderByNew()
    {
        isSortedByNew = !isSortedByNew;
        await FilterSuggestions();
    }

    private async Task OnSearchInput(string searchInput)
    {
        searchText = searchInput;
        await FilterSuggestions();
    }

    private async Task OnCategoryClick(string category = "All")
    {
        selectedCategory = category;
        await FilterSuggestions();
    }

    private async Task OnStatusClick(string status = "All")
    {
        selectedStatus = status;
        await FilterSuggestions();
    }

    private string GetUpvoteTopText(Suggestion suggestion)
    {
        if (suggestion.UserVotes?.Count > 0)
        {
            return suggestion.UserVotes.Count.ToString("00");
        }

        if (suggestion.Author.Id == loggedInUser.Id)
        {
            return "Awaiting";
        }

        return "Click To";
    }

    private string GetUpvoteBottomText(Suggestion suggestion)
    {
        bool isPlural = suggestion.UserVotes?.Count > 1;

        return $"Upvote{(isPlural ? "s" : string.Empty)}";
    }

    private void OpenDetails(Suggestion suggestion)
    {
        navManager.NavigateTo($"details/{suggestion.Id}");
    }
}