@page "/Profile"
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject NavigationManager navManager
@inject ISuggestionData suggestionData
@inject IUserData userData

<h1 class="page-heading text-uppercase mb-4">My Profile</h1>

<div class="row">
    <div class="col-12 close-button-section">
        <button class="btn btn-close" @onclick="ClosePage"></button>
    </div>
</div>

<div class="form-layout mb-3">
    <h2 class="my-submission-heading">My Account</h2>
    <p class="my-submission-text">
        <a href="MicrosoftIdentity/Account/EditProfile">Edit my profile</a>
    </p>
</div>

@if (approved?.Count > 0)
{
    <div class="form-layout mb-3">
        <h2 class="my-submission-heading">Approved Suggestions</h2>
        <p class="my-submission-text">These are your currently active suggestions</p>

        @foreach (var suggestion in approved)
        {
            <hr class="my-submission-separator" />
            <div class="fw-bold suggestion-detail-suggestion">
                @suggestion.SuggestionContent
            </div>
            <p class="my-suggestion-text">
                @suggestion.DateCreated.ToString("MM.dd.yyyy")
            </p>
            <p class="my-suggestion-text">
                Total votes: @suggestion.UserVotes.Count
            </p>
            <p class="my-suggestion-text">
                @suggestion.Category.Name
            </p>
            <p class="my-suggestion-text">
                @suggestion.Description
            </p>
            @if (suggestion.Status is not null)
            {
                <div class="fw-bold suggestion-detail-suggestion">
                    @suggestion.Status.Name
                </div>
                <p>
                    @((MarkupString)suggestion.AdminNotes)
                </p>
            }
        }
    </div>
}

@if (archived?.Count > 0)
{
    <div class="form-layout mb-3">
        <h2 class="my-submission-heading">Archived Suggestions</h2>
        <p class="my-submission-text">There are your currently archived suggestions</p>

        @foreach (var suggestion in archived)
        {
            <hr class="my-submission-separator" />
            <div class="fw-bold suggestion-detail-suggestion">
                @suggestion.SuggestionContent
            </div>
            <p class="my-suggestion-text">
                @suggestion.DateCreated.ToString("MM.dd.yyyy")
            </p>
            <p class="my-suggestion-text">
                Total votes: @suggestion.UserVotes.Count
            </p>
            <p class="my-suggestion-text">
                @suggestion.Category.Name
            </p>
            <p class="my-suggestion-text">
                @suggestion.Description
            </p>
            @if (suggestion.Status is not null)
            {
                <div class="fw-bold suggestion-detail-suggestion">
                    @suggestion.Status.Name
                </div>
                <p>
                    @((MarkupString)suggestion.AdminNotes)
                </p>
            }
        }
    </div>
}

@if (pending?.Count > 0)
{
    <div class="form-layout mb-3">
        <h2 class="my-submission-heading">Pending Suggestions</h2>
        <p class="my-submission-text">There are your currently pending suggestions</p>

        @foreach (var suggestion in pending)
        {
            <hr class="my-submission-separator" />
            <div class="fw-bold suggestion-detail-suggestion">
                @suggestion.SuggestionContent
            </div>
            <p class="my-suggestion-text">
                @suggestion.DateCreated.ToString("MM.dd.yyyy")
            </p>
            <p class="my-suggestion-text">
                Total votes: @suggestion.UserVotes.Count
            </p>
            <p class="my-suggestion-text">
                @suggestion.Category.Name
            </p>
            <p class="my-suggestion-text">
                @suggestion.Description
            </p>
            @if (suggestion.Status is not null)
            {
                <div class="fw-bold suggestion-detail-suggestion">
                    @suggestion.Status.Name
                </div>
                <p>
                    @((MarkupString)suggestion.AdminNotes)
                </p>
            }
        }
    </div>
}

@if (rejected?.Count > 0)
{
    <div class="form-layout mb-3">
        <h2 class="my-submission-heading">Rejected Suggestions</h2>
        <p class="my-submission-text">There are your currently rejected suggestions</p>

        @foreach (var suggestion in rejected)
        {
            <hr class="my-submission-separator" />
            <div class="fw-bold suggestion-detail-suggestion">
                @suggestion.SuggestionContent
            </div>
            <p class="my-suggestion-text">
                @suggestion.DateCreated.ToString("MM.dd.yyyy")
            </p>
            <p class="my-suggestion-text">
                Total votes: @suggestion.UserVotes.Count
            </p>
            <p class="my-suggestion-text">
                @suggestion.Category.Name
            </p>
            <p class="my-suggestion-text">
                @suggestion.Description
            </p>
            @if (suggestion.Status is not null)
            {
                <div class="fw-bold suggestion-detail-suggestion">
                    @suggestion.Status.Name
                </div>
                <p>
                    @((MarkupString)suggestion.AdminNotes)
                </p>
            }
        }
    </div>
}